<h1>Listing articles</h1>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consequat suscipit dui a tincidunt. Mauris in nisl quis risus pharetra ultrices eget vitae nisi. Duis facilisis lectus eu ipsum commodo, sit amet mattis purus lobortis. Duis ut mauris non libero aliquam laoreet. Nulla viverra neque ac mattis venenatis. Ut mollis velit nec elit posuere, sed faucibus odio tempor. Vivamus nulla nisl, commodo fringilla rhoncus vitae, iaculis nec enim. Fusce varius lorem eu vulputate ultrices.
</p>

<p>
Proin posuere tristique mauris ac venenatis. Etiam sed urna at sapien ultricies posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a nisi elit. Duis et erat luctus, placerat arcu a, gravida lacus. Suspendisse feugiat id dolor id vulputate. Aenean faucibus mi lorem, vel rutrum odio interdum fermentum. Ut rutrum nulla nec viverra semper. In ut tempus justo. Nullam vel varius sapien, id pellentesque sem. Phasellus mollis, purus quis varius sollicitudin, velit elit venenatis lorem, in aliquet felis velit sit amet eros. Integer diam eros, interdum et nibh euismod, bibendum placerat orci. Duis tristique scelerisque magna a bibendum. Cras lectus mi, auctor ac purus ut, adipiscing mattis eros. Aliquam dapibus dui vitae ligula pellentesque, quis pretium mauris dictum. Mauris elementum dolor nulla, vitae pulvinar enim suscipit quis.
</p>

<p>
Morbi tortor lacus, dictum a placerat ac, mattis eu ante. Cras a convallis risus. Nunc blandit sollicitudin vehicula. Curabitur sed felis vel lectus vehicula convallis. Quisque sit amet vehicula enim. Aenean gravida nisl purus, ac semper justo mattis eu. In ligula ipsum, mollis in massa id, semper porta dolor. Etiam tincidunt auctor est, in dictum ipsum tristique eget. Nunc rutrum nulla eu tortor adipiscing lacinia. Mauris arcu felis, cursus non luctus at, hendrerit et urna. Pellentesque eu venenatis justo, eu suscipit libero.
</p>

<p>
In hac habitasse platea dictumst. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur quis imperdiet justo. Duis at enim vel felis blandit sodales facilisis id enim. Proin nec erat eget sem varius porttitor sit amet sed risus. Ut id augue nec metus dignissim lacinia. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras posuere libero non auctor hendrerit. Cras non auctor turpis. Suspendisse eget dictum sapien, at venenatis lectus.
</p>

<p>
Donec ultricies nec est sed sodales. Morbi tempus feugiat scelerisque. Proin magna augue, aliquam sed lacinia rutrum, consectetur nec diam. Praesent sit amet blandit arcu. Integer tempor ipsum sed nibh rutrum, ac vulputate tellus vulputate. In ultricies rutrum nulla ac tristique. Sed semper tincidunt enim at suscipit. Duis tincidunt varius mollis. Praesent tempus ante eu enim porta cursus.
</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Brief</th>
      <th>Content</th>
      <th>Published</th>
      <th>Published at</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.brief %></td>
        <td><%= article.content %></td>
        <td><%= article.published %></td>
        <td><%= article.published_at %></td>
        <td><%= article.user %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
