<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Brief:</strong>
  <%= @article.brief %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<p>
  <strong>Published:</strong>
  <%= @article.published %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @article.published_at %>
</p>

<p>
  <strong>User:</strong>
  <%= @article.user %>
</p>

<%= link_to 'Edit', [@user, @article] %> |
<%= link_to 'Back', user_articles_path %>
