<div class="container">
	<div class="row">
		<div class="col-9">

			<div class="row">
				<div class="col-6">
					<h1>username</h1>
				</div>

				<div class="col-3">
					<div class="btn">Demande Personalisée</div>
					<div class="btn">Message privé</div>
				</div>
			</div>

			<div class="row">
				<div class="col-9">
					<div class="tags">Ruby, Rails, HTML, Git</div>
					<div class="links">
						<span class="btn">site perso</span>
						<span class="btn">book.pdf</span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-9">
					Lorem ipsum dolor ...
				</div>
			</div>

		</div>
		<div class="col-3">
			<%= image_tag "http://placehold.it/264x264" %>
			<span>follower: 12</span>
			<span>following: 14</span>
			<div class="text-center">
				<span class="btn">follow</span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-9">
			<h2>products</h2>
			<div class="row">
				<div class="product col-3">
					<div class="row">
						<div class="col-1"><%= image_tag "http://placehold.it/72x72" %></div>
						<div class="col-2">product descr</div>
					</div>
				</div>
				<div class="product col-3">
					<div class="row">
						<div class="col-1"><%= image_tag "http://placehold.it/72x72" %></div>
						<div class="col-2">product descr</div>
					</div>
				</div>
				<div class="product col-3">
					<div class="row">
						<div class="col-1"><%= image_tag "http://placehold.it/72x72" %></div>
						<div class="col-2">product descr</div>
					</div>
				</div>
			</div>

			<h2>techniques</h2>
			<p>lorem ipsum ...</p>

			<h2>inspiration</h2>
			<p>lorem ipsum ...</p>

			<h2>parcours</h2>
			<p>lorem ipsum ...</p>

			<h2>top commentaires</h2>
			<div class="comment">
				<h4>commentaire titre</h4>
				<p>Je pense beaucoup de bien/mal de cette peronne, c'est super bien/nul</p>
			</div>
			<div class="comment">
				<h4>commentaire titre</h4>
				<p>Je pense beaucoup de bien/mal de cette peronne, c'est super bien/nul</p>
			</div>
			<div class="comment">
				<h4>commentaire titre</h4>
				<p>Je pense beaucoup de bien/mal de cette peronne, c'est super bien/nul</p>
			</div>
		</div>

		<div class="col-3">
			<div class="sales">
				<h3>sales</h3>
				<div class="row">
					<div class="product col-3">
						<div class="row">
							<div class="col-1"><%= image_tag "http://placehold.it/72x72" %></div>
							<div class="col-2">product descr</div>
						</div>
					</div>
					<div class="product col-3">
						<div class="row">
							<div class="col-1"><%= image_tag "http://placehold.it/72x72" %></div>
							<div class="col-2">product descr</div>
						</div>
					</div>
					<div class="product col-3">
						<div class="row">
							<div class="col-1"><%= image_tag "http://placehold.it/72x72" %></div>
							<div class="col-2">product descr</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-3">
						<span>link to all this user sales</span>
					</div>
				</div>
			</div>

			<div class="events">
				<h3>events</h3>
				<div class="row">
					<div class="event col-3">
						<div class="row">
							<div class="col-1"><%= image_tag "http://placehold.it/72x72" %></div>
							<div class="col-2">event descr</div>
						</div>
					</div>
					<div class="event col-3">
						<div class="row">
							<div class="col-1"><%= image_tag "http://placehold.it/72x72" %></div>
							<div class="col-2">event descr</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-3">
						<span>link to all events</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
