<!DOCTYPE html>
<html>
<head>
  <title>HomeMadeArt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p>
    <%= link_to root_url do %>
      <i class="icon-home"></i>
      Home
    <% end %>
  </p>

  <p class="alert"><%= flash[:alert] %></p>
  <p class="notice"><%= flash[:notice] %></p>

  <%= yield %>

</body>
</html>
